@import 'https://fonts.googleapis.com/css?family=Catamaran:300,400,700';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Box sizing reset
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Main Content
  ========================================
*/

body {
  color: #666;
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  height: 1000px;
  background-size: cover;
}

header {
  margin: 0 auto 10px;
  position: absolute;
  top: 0px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.7);
  width: 100%;
  height: 350px;
}

header > h1 {
  text-align: center;
  font-size: 3em;
  color: orange;
  padding: 1em;
}

header p {
  /*display: inline-block;*/
  text-align: center;
  margin: 0 auto;
}

header .left-p {
  font-size: 25px;
  font-family: 'Catamaran', Helvetica, sans-serif;
  letter-spacing: 0.5px;
  width: 64%;
  color: red;
  margin-bottom: 2%;
}

header .right-p {
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 5px;
  width: 34%;
  background-color: orange;
  color: white;
}

header .right-p:hover {
  background-color: red;
}

header .right-para:hover {
  border-color: #aaa;
}

header .right-para:active {
  background: #eee;
}

#fields {
  background: #fff;
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
  opacity: 0.6;
}

#fields > div {
  border: 1px solid #ddd;
  color: transparent;
  display: inline-block;
  float: left;
  font-size: 44px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  transition: all ease 0.3s;
  width: 33.333333%;
}
#fields > div:hover {
  border-color: #aaa;
}
#fields > div.circle-bg {
  color: green;
  font-size: 3em;
}
#fields > div.cross-bg {
  color: red;
  font-size: 3em;
}

.circle-cursor {
  cursor: url('../img/circle.png') 25 25, pointer;
}
.cross-cursor {
  cursor: url('../img/cross.png') 25 25, pointer;
}

div.other-field {
  opacity: 0.5;
}

/*scoreboard*/

.scoreBoard {
  font-family: 'Catamaran', Helvetica, sans-serif;
  font-size: 1.4em;
  display: flex; 
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

input {
  margin-right: 10px;
  background: transparent;
  border: transparent;
  color: white;
  font-size: 3em;
}

/*additional styling*/

.gradient {
  height: 100%;
  width: 100%;
  background-color: #e6e6e6;
}

.xScore {
  top: 256px;
  width: 7%;
}

input#Xnumber {
  color: red;
  text-align: left;
}

.oScore {
  top: 256px;
}

input#Onumber {
  color: green;
  text-align: right;
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  .xScore {
    position: relative;
  }
}

@media screen and (min-width: 699px) {
  .xScore {
    position: relative;
  }

  .oScore {
    position: relative;
  }
}

@media screen and (max-width: 745px) {
  input {
    font-size: 2em;
  }
}

@media screen and (max-width: 514px) {
  .scoreBoard {
    overflow: hidden;
  }
  .oScore {
    text-align: center;
  }
  input#Onumber {
    width: 7%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 321px) {
  .scoreBoard {
    overflow: hidden;
  }
  .oScore {
    text-align: center;
  }
  input#Onumber {
    width: 17%;
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: rgba(128, 128, 128, 1);
  text-align: center;
}

footer > p {
  position: relative;
  top: 40%;
  color: white;
}

.headerbg {
  background-image: url('../img/bg.jpg');A
  width: 100%;
  height: 35%;
  background-size: cover;
}
